= form_for message, remote: true, authenticity_token: true do |f|
  = f.label :your_message
  = f.text_area :content, class: "form-control", data: {textarea: "message"}, id: "message-text"
  = f.hidden_field :room_id, value: room.id
  %br
  %button.btn-primary.btn-lg.btn-form{type: "button", id: "message-bt"} Send
  = f.submit "send", id: "submit-message", data: {send: "message"}, style: "display: none"
