.jumbotron
  %h1.text-center Nanameue Chat
  %p 
  - if current_user
    %p.text-center
      Hi, #{current_user.name}. Click #{link_to "HERE", rooms_path} to go to the chats listing, or #{link_to "HERE", new_room_path} to
      create a new chat.
    %p.text-center
      If you are not #{current_user.name}, you can Log Out clicking #{link_to "HERE", logout_path, method: "delete"}
  - else
    %p.text-center #{link_to "Sign Up", signup_path} or #{link_to "Log In", login_path} to start chatting.
