%h1.text-center Listing rooms
%br
.well.center-element
  .room-form
    = search_form_for @search do |f|
      .input-group
        %span.input-group-addon.text-center Search:
        = f.text_field (:name_or_id), class: "form-control"
      %br
      = f.submit "Search and Go", class: "btn btn-primary btn-lg center-block btn-form"

%br
.center-element     
  = render partial: 'layouts/errors'

%table.table.table-striped.table-bordered.table-condensed.table-responsive.text-center.center-element
  %thead
    %tr
      %th.text-center.large-text Name

  %tbody
    - @rooms.each do |room|
      %tr
        %td.large-text= link_to room.name, room, method: :get
%br
.center-element
  = will_paginate @rooms, renderer: BootstrapPagination::Rails
%br
.btn{style: "width: 100%;margin: auto;"}
  = button_to 'New Room', new_room_path, :method => "get", class: "btn-primary btn-lg btn-form"


